---
import RemoteImage from '@/components/RemoteImage.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
export const getStaticPaths = (async () => {
  const albums = await getCollection('photos');
  return albums.map((album) => ({
    params: {
      album: album.id,
    },
    props: {
      album,
    },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { album } = Astro.props;
const { images } = album.data;
---

<BaseLayout title={album.data.title}>
  <div class="flex flex-col">
    {
      images.map((image) => (
        <div class="flex min-h-screen max-w-screen-xl flex-shrink items-center">
          <RemoteImage src={`${album.id}/${image.id}`} alt={image.name ?? 'Untitled'} />
        </div>
      ))
    }
  </div>
</BaseLayout>
