---
import RemoteImage from '@/components/RemoteImage.astro';
import AlbumLayout from '@/layouts/AlbumLayout.astro';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

export const getStaticPaths = (async () => {
  const albums = await getCollection('photos');
  return albums.map((album) => ({
    params: {
      album: album.id,
    },
    props: {
      album,
    },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { album } = Astro.props;
const { images } = album.data;
---

<AlbumLayout album={album}>
  <div class="flex flex-col items-center">
    {
      images.map((image, i) => (
        <div class="flex min-h-screen max-w-screen-lg flex-col justify-center">
          <RemoteImage
            src={`${album.id}/${image.id}`}
            alt={image.name ?? 'Untitled'}
            loading={i === 0 ? 'eager' : 'lazy'}
            fetchpriority={i === 0 ? 'high' : undefined}
          />
          <div class="mt-3 text-right text-base font-semibold">{image.name ?? 'Untitled'}</div>
        </div>
      ))
    }
    {
      // Chikis Tribute
      album.id === 'chikis' && (
        <div class="flex min-h-screen max-w-screen-lg flex-col justify-center font-serif">
          <div class="text-lg">she will be missed.</div>
          <div class="text-sm">2010 &ndash; 2024</div>
        </div>
      )
    }
    <div class="mt-24 flex min-h-96 flex-col items-center">
      <a
        href="/photos"
        data-astro-prefetch="viewport"
        class="hover:text-accent-blue no-underline"
      >
        [&larr; back to albums]
      </a>
    </div>
  </div>
</AlbumLayout>
