---
import LucideIcon from '@/components/LucideIcon.astro';
import RemoteImage from '@/components/RemoteImage.astro';
import AlbumLayout from '@/layouts/AlbumLayout.astro';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import { CornerDownLeft } from 'lucide';
export const getStaticPaths = (async () => {
  const albums = await getCollection('photos');
  return albums.map((album) => ({
    params: {
      album: album.id,
    },
    props: {
      album,
    },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { album } = Astro.props;
const { images } = album.data;
---

<AlbumLayout album={album}>
  <div class="flex flex-col items-center">
    {
      images.map((image) => (
        <div class="flex min-h-screen max-w-screen-lg flex-col justify-center">
          <RemoteImage src={`${album.id}/${image.id}`} alt={image.name ?? 'Untitled'} />
          <div class="mt-3 text-right text-base font-semibold">{image.name ?? 'Untitled'}</div>
        </div>
      ))
    }
    <div class="min-h-96 mt-24 flex flex-col">
      <a
        href="/photos"
        data-astro-prefetch="viewport"
        aria-label="Back to albums"
        class="rounded-full p-6 transition-colors duration-200 hover:opacity-50 dark:hover:opacity-75"
      >
        <LucideIcon icon={CornerDownLeft} />
      </a>
    </div>
  </div>
</AlbumLayout>
