---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Photos">
  <h1>Photos</h1>
  <section class="mt-6">
    <ul class="m-0 list-none">
      <li>Image</li>
    </ul>
  </section>
</BaseLayout>
