---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import dog from '../assets/images/dog.jpeg';
---

<BaseLayout>
  <h1>Welp.</h1>
  <div class="mb-5 mt-1 italic text-muted-foreground">
    Can't find what you're looking for. My dog personally apologizes.
  </div>
  <div class="mb-80 p-5">
    <Image
      src={dog}
      alt="A picture of my dog, a white bichon frise, looking at the camera suspiciously."
    />
  </div>
</BaseLayout>
