---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import dog from '../assets/images/dog.jpeg';
---

<BaseLayout>
  <Card class="mt-10 mb-40">
    <h1>Welp, that's ruff.</h1>
    <div class="text-muted-foreground mt-1 mb-5 italic">
      My dog personally apologizes for not finding the page you were looking for.
    </div>
    <Image
      src={dog}
      alt="A picture of my dog, a white bichon frise, looking at the camera suspiciously."
    />
  </Card>
</BaseLayout>
