---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1 class="tracking-tight">Hi, I'm Sal.</h1>
  <p>Welcome to my random collections of thoughts and photography.</p>
  <p>
    A little about me: I love endlessly tinkering with my development tools and I'm always on the
    hunt for a new hobby. Currently, I'm a senior software engineer at <a href="https://semgrep.dev"
      >Semgrep</a
    >, where I help make it cheap to make it expensive to exploit software.
  </p>
  <p>
    Checkout my <a href="/bestof" data-astro-prefetch>collection of quotes</a>
     I've collected over the years.
  </p>
  <p>
    You can find me on:
    <ul class="mt-0">
      <li><a href="https://github.com/salolivares">GitHub</a></li>
      <li><a href="https://twitter.com/0x102c">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/salolivares/">LinkedIn</a></li>
      <li><a href="https://bsky.app/profile/0x102c.bsky.social">Bluesky</a></li>
    </ul>
  </p>
</BaseLayout>
