---
import BaseLayout from '../layouts/BaseLayout.astro';
import '@/styles/global.css';
---

<BaseLayout>
  <h1>Hi, I'm Sal.</h1>
  <p>
    I'm a senior software engineer at <a href="https://twilio.com" class="underline">Twilio</a> where
    I help build security features. I love endlessly tinkering with my development tools and I'm always
    on the hunt for a new hobby.
  </p>
  <p>
    Checkout my <a href="" class="underline">collection of quotes</a> I've collected over the years.
    Or you can checkout some of the <a href="" class="underline">stuff I use</a> on the daily basis.
  </p>
  <p>
    You can find me on:
    <ul>
      <li><a href="" class="underline">GitHub</a></li>
      <li><a href="" class="underline">Twitter</a></li>
      <li><a href="" class="underline">LinkedIn</a></li>
      <li><a href="" class="underline">omg.lol</a></li>
    </ul>
  </p>
</BaseLayout>
