---
import BaseLayout from '../layouts/BaseLayout.astro';
import '@/styles/global.css';
---

<BaseLayout>
  <h1>Hi, I'm Sal.</h1>
  <p>
    I'm a senior software engineer at <a href="https://twilio.com" class="underline">Twilio</a> where
    I help build security features. I love endlessly tinkering with my development tools and I'm always
    on the hunt for a new hobby.
  </p>
</BaseLayout>
