<body class="break-words leading-relaxed"><slot /></body>
<style>
  body {
    margin: auto;
    padding: 20px;
    max-width: 65ch;
    min-width: 360px;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
  }
</style>
