---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  shadow?: boolean;
  padded?: boolean;
}

const { class: className, shadow = true, padded = true, ...rest } = Astro.props;
---

<div
  class:list={[
    'border-border bg-card border',
    padded && 'p-5',
    shadow && 'shadow-card',
    className,
  ]}
  {...rest}
>
  <slot />
</div>
