---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="mb-5">
  <div class="font-bold text-2xl mb-1">
    {SITE_TITLE}
  </div>
  <nav class="flex gap-3">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">Photos</HeaderLink>
  </nav>
</header>
