---
import { config } from '@/site.config';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';

const title = config.title;
---

<header class="mb-10 sm:mt-5">
  <div class="mb-1 text-2xl font-bold lowercase">
    {title}
  </div>
  <nav class="flex justify-between">
    <div class="flex gap-3">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/photos">Photos</HeaderLink>
    </div>
    <ThemeToggle />
  </nav>
</header>
