---
const { rating } = Astro.props;

function convertRating(rating: number): number {
  return Math.round((rating / 2) * 2) / 2;
}

const starRating = convertRating(rating);
const fullStars = Math.floor(starRating);
const hasHalfStar = starRating % 1 !== 0;
---

<div class="inline-flex">
  {
    [...Array(5)].map((_, index) => {
      if (index < fullStars) {
        return <span>★</span>;
      } else if (index === fullStars && hasHalfStar) {
        return <span>½</span>;
      }
      return null;
    })
  }
</div>
