---
import BaseHead from '../components/BaseHead.astro';
import AlbumHeader from '../components/AlbumHeader.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  album: CollectionEntry<'photos'>;
}

const { album } = Astro.props;
---

<style>
  html {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    margin: auto;
    padding: 20px;
    min-width: 320px;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
  }
</style>

<html lang="en">
  <head>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }

      window.localStorage.setItem('theme', theme);
    </script>
    <BaseHead title={album.data.title} />
  </head>
  <body>
    <AlbumHeader title={album.data.title} />
    <main>
      <slot />
    </main>
  </body>
</html>
