---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <Body class="bg-zinc-900 text-zinc-300 break-words leading-relaxed">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </Body>
</html>
