---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import type { MarkdownLayoutProps } from 'astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  // https://docs.astro.build/en/core-concepts/layouts/#using-one-layout-for-md-mdx-and-astro
  frontmatter?: MarkdownLayoutProps<Props>['frontmatter'];
}

const isMarkdown = Astro.props.frontmatter !== undefined;

const { title, description, image } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header />
    <main class:list={[{ 'prose prose-hr:my-5': isMarkdown }]}>
      <slot />
    </main>
  </body>
</html>
